.nav-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a b"
        "c c";
    justify-items: center;
    align-items: center;
    padding: 10px 0 0 15px;
}

.nav-child {
    align-items: center;
    font: normal 300 14px/20px Helvetica;
}
.subscribe-container{
    display: grid;
    grid-template-areas: "a a"
    "b c";
    justify-content: start;
}

/* mobile view  */
@media screen and  (max-width:500px){
    .top-heading {
        grid-area: a;
    }
    .menu {
        grid-area: b;
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
    }
    .donate-btn {
        grid-area: c;
        height: 40px;
        width: 100%;
    }
    /* second element  */

    .issue{
        background: url('../assets/assets/about-us/annie-spratt-427339-unsplash.png'); 
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2px 25px 50px 25px;
    
    }
    .issue-head{
        margin: 0 auto ;
        display: flex;
        position: relative;
        top: 42px;
        justify-content: center;
        align-items: center;
    }
    .tag{
        height: 130px;
        width: 180px;
        padding-top: rem;
        text-align: left;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .issue-content{
        margin: 1rem;
        /* padding-bottom: 20px; */
        background-color: rgb(255, 255, 255);
    }
    .content{
        padding: 2rem;
        text-align: center;
        padding-top: 35px;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .meta{
        text-decoration: underline;
        opacity: 1;
        text-align: center;
        color: #354463;
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        padding: 32px 32px;
    }
    .mission-values{
        padding: 5rem 0;
    }
    .section-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .intro-txt{
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .content-heading{
        text-align: left;
        width: 140px;
        padding: 20px 0;
        font: normal normal bold 16px/20px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .icon-content{
        width: 140px;
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #FFFFFF;
        opacity: 1;
    }

    /* our team  */
    .our-team{
        margin: 2rem;
    }
    .team-heading{
        margin: 0 auto;
    }
    .member-grid-container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
    .image{
        /* height: 144px;
        width: 144px; */
        height: 38vw;
        width: 38vw;
    }
    .member-section{
        /* height: 200px;
        width: 144px; */
        height: 55vw;
        width: 38vw;
    }
    .member-intro{
        margin: 30px 5px;
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }
    .about-team{
        text-align: center;
        font: normal normal 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        margin-bottom: 30px;
    }
    .person-data{
        background: #354463 0% 0% no-repeat padding-box;
    }
    .person-detail{
        margin: 10px;
        padding-bottom: 10px;
    }
    .name, .position{
        text-align: left;
        font: normal normal 300 12px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #FFFFFF;
    }

    /* our impact   */

    .impact-container{
        padding: 2.5rem 0;
    }
    .impact-heading{
        text-align: left;
        margin: 2rem;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
    .statictics-data{
        display: flex;
        flex-direction: column;
    }
    .count{
        text-align: center;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .stat-title{
        width: 160px;
        height: 36px;
        margin: 0 auto;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        text-align: center;
        font: normal normal bold 16px/20px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    /* future block  */

    .tag2{
        width: 312px;
        height: 186px;
        margin: 0 auto;
        padding-top: 4rem;
        text-align: center;
    }
    .y2018-btn{
        position: relative;
        top: -20px;
    }
    .poverty{
        width: 312px;
        height: 224px;
        background: transparent url('../assets/images/poverty.png') 0% 0% no-repeat padding-box;
        margin: 0 auto;
        margin-top: 2.4rem;
    }
    .description-box{
        width: 312px;
        margin: 0 auto;
        background-color: #FFFFFF;
        padding-bottom: 2rem;
    }
    .desc-title{
        text-align: center;
        font: normal normal bold 20px/24px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding: 2rem;
    }
    .desc-para{
        text-align: center;
        font: normal normal 300 16px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding: 0 2rem;
    }
    .read-btn{
        width: 160px;
        height: 40px;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        margin: 0 auto;
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }

    /* subs   */

    .subscribe-container{
        grid-column-gap: 15px;
    }
    .apealing{
        grid-area: a;
    }
    .input-email{
        grid-area: b;
    }
    .subscribe-btn{
        grid-area: c;
    }
    .subscribe-container{
        padding: 35px 22px ;
    }
    /* footer here  */
    .contact{
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
        opacity: 1;
        position: relative;
        left: 40px;
    }
    .page-title{
        width: 90px;
        height: 60px;
        text-align: left;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }
    .address{
        height: 80px;
        width: 175px;
    }
    .footer-li{
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;

    }
    .footer-tag{
        padding: 0 20px 20px 200px;
    }
    .extra{
        display: none;
    }
    .contact-us{
        width: 100px;
        height: 75px;
        padding-bottom: 40px;
        margin-right: 20px;
    }
    .flex-item{
        flex: 0 0 calc(50% - 10px); 
    }  
}

/* tablet view  */

@media screen and  (min-width:500px){
    .top-heading {
        grid-area: a;
        margin-left: -140px;
    }
    .donate-btn {
        grid-area: b;
        width: 145px;
        height: 50px;
    }
    .menu {
        grid-area: c;
        /* display: flex;
        justify-content: space-around; */
        margin-left: -300px;
    }
    .nav-list{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-right: 275px;
        text-align: left;
    }

    /* second element  */

    .issue{
        background: url('../assets/assets/about-us/annie-spratt-427339-unsplash.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tag{width: 181px;
        height: 136px;
        text-align: left;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        padding-top: 3rem;
        padding-left: 50px;
    }
    .issue-head{
        position: relative;
        top: 20px;
        left: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .the-issue{
        margin: 0 3rem;
        padding: 4rem 0;
    }
    .issue-content{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
    }
    .content{
        text-align: left;
        font: normal normal bold 36px/46px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding: 0px 64px;
    }
    .meta{
        margin: -11px 64px;
        color: #354463;
        font-size: medium;
        text-decoration: underline;
        font-family: Arial, Helvetica, sans-serif;
    }

    .mission-values{
        padding: 5rem;

    }
    .section-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }
    .intro-txt{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-bottom: 3rem;
    }
    .content-heading{
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
    .icon-content{
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #FFFFFF;

    }

    /* our team */

    .our-team{
        margin: 2rem;
    }
    .team-heading{
        margin: 0 3rem;
    }
    .member-grid-container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
    .image{
        /* height: 144px;
        width: 144px; */
        height: 38vw;
        width: 38vw;
    }
    .member-section{
        /* height: 200px;
        width: 144px; */
        height: 55vw;
        width: 38vw;
    }
    .team-information{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .member-intro{
        margin: 30px 3rem;
        text-align: left;
        font: normal normal bold 36px/46px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }
    .about-team{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        margin-bottom: 30px;
    }
    /* .person-data{
        background: #354463 0% 0% no-repeat padding-box;
    } */
    .person-detail{
        width: 35vw;
        height: 50px;
        position: relative;
        top: -30px;
        left: 30px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        background: #354463 0% 0% no-repeat padding-box;
    }
    .name, .position{
        text-align: left;
        font: normal normal 300 12px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #FFFFFF;
        padding-right: 10px;
    }

    /* impact part  */

    .impact-container{
        padding: 3rem 0;
    }
    .impact-heading{
        width: 658px;
        height: 82px;
        margin: 2rem auto;
        text-align: center;
        font: normal normal bold 36px/46px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .statictics-data{
        display: flex;
        flex-wrap: wrap;
        margin: 4rem 0;
        justify-content: center;
    }
    .count{
        width: 288px;
        height: 55px;
        text-align: center;
        font: normal normal normal 72px/76px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .stat-title{
        width: 288px;
        height: 73px;
        margin-top: 30px;
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }


    /* subs   */

    .subscribe-container{
        grid-column-gap: 15px;
    }
    .apealing{
        width: 450px;
        padding-left: 40px;
        grid-area: a;
    }
    .input-email{
        width: 450px;
        margin-left: 40px;
        grid-area: b;
    }
    .subscribe-btn{
        width: 160px;
        margin-left: 32px;
        grid-area: c;
    }
    .subscribe-container{
        padding: 35px 22px ;
    }

    /* footer text  */
    .flex-item{
        flex: 0 0 calc(33% - 10px); 
        /* padding: 0; */
    }
    .page-title{
        height: 50px;
        width: 150px;
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }
    .contact{
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
    }
    .contact-us{
        width: 120px;
        height: 75px;
        padding-bottom: 40px;
        margin-right: 20px;
    }
    .footer-li{
        list-style: none;
        /* line-height: 28px; */
        font-family: 'FloodStd';
        flex-direction: column;
        /* text-align: left; */
        padding: 0;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
    }
}


/* laptop view  */

@media screen and  (min-width:1000px){
    .top-heading {
        grid-area: a;
        align-self: flex-start;
    }
    .donate-btn {
        grid-area: b;
    }
    .menu {
        grid-area: c;
        /* justify-self: flex-end; */
        padding-bottom: 20px;
    }
    /* .nav-parent{
        display: flex;
    } */
    .nav-list{
        display: flex;
        
    }
    .tag{
        width: 296px;
        height: 224px;
        text-align: left;
        font: normal normal normal 72px/76px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
    .content{
        width: 416px;
        height: 213px;
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .issue{
        display: flex;
        justify-content: space-around;
    }
    .the-issue{
        width: 550px;
        position: relative;
        top: 130px;
    }
    .intro-txt{
        text-align: left;
        font: normal normal bold 44px/56px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;        
    }

    /* our team  */

    .team-heading{
        margin-left: 4rem;
    }
    .member-grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        margin-left: 4rem;
    }
    .image{
        /* height: 144px;
        width: 144px; */
        height: 20vw;
        width: 20vw;
    }
    .member-section{
        /* height: 200px;
        width: 144px; */
        height: 30vw;
        width: 20vw;
    }
    .member-intro{
        text-align: left;
        width: 550px;
        font: normal normal bold 44px/56px Helvetica;        
        letter-spacing: -0.16px;
        color: #354463;
        margin-bottom: 30px;
    }
    .team-information{
        justify-content: left;
        margin-left: 1rem;
    }
    .about-team{
        text-align: left;
        width: 440px;
        font: normal normal 300 20px/30px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        margin-left: 20vw;
        margin-bottom: 30px;
    }
    .person-detail{
        width: 20vw;
        height: 50px;
        position: relative;
        top: -30px;
        left: 30px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        background: #354463 0% 0% no-repeat padding-box;
    }

    /* impact part  */

    .impact-container{
        padding: 8rem 0;
    }
    .impact-heading{
        width: 742px;
        margin: 3rem auto;
        text-align: center;
        font: normal normal bold 44px/56px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .statictics-data{
        display: flex;
        justify-content: space-around;
        margin: 0 10rem;
    }
    .count{
        width: 256px;
        height: 55px;
        text-align: center;
        font: normal normal normal 72px/76px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .stat-title{
        width: 244px;
        height: 73px;
        margin-top: 35px;
        text-align: center;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    /* footer style  */
    .flex-item{
        flex: 0 0 calc(20% - 10px); 
        /* padding: 0; */
    }
    .extra{
        display: none;
    }
    .page-title{
        height: 50px;
        width: 150px;
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }
    .contact{
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        padding: 5px 0 10px 0;
        /* text-decoration: underline; */
        letter-spacing: 0.44px;
        color: #354463;
    }
    .contact::after{
        display: block;
        content: "";
        height: 1px;
        margin-top: 7px;
        width: 100px;
        background: #354463;

    }
    .contact-us{
        width: 120px;
        height: 75px;
        padding-bottom: 40px;
        margin-right: 20px;
    }
    .footer-li{
        list-style: none;
        text-decoration: none;
        /* line-height: 28px; */
        font-family: 'FloodStd';
        flex-direction: column;
        /* text-align: left; */
        padding: 0;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
    }
}
